@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-blue-gradient bg-no-repeat bg-cover font-rajdhani;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-500;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-700;
}

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #ff6b6b, #f94d6a, #f9a94d);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveBlob 20s infinite alternate ease-in-out;
  z-index: -1;
  filter: blur(50px);
  transition: all 450ms ease-out;
}

.blob-2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #ff6b6b, #f94d6a, #f9a94d);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveBlob-2 30s infinite alternate ease-in-out;
  z-index: -1;
  filter: blur(50px);
  transition: all 450ms ease-out;
}

@keyframes moveBlob {
  0% {
    transform: scale(1) translate(-250%, 30%);
  }
  10% {
    transform: scale(1.1) translate(-150%, 30%);
  }
  20% {
    transform: scale(0.9) translate(-100%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -20%);
  }
  40% {
    transform: scale(0.8) translate(80%, 30%);
  }
  50% {
    transform: scale(1.6) translate(-140%, 60%);
  }
  60% {
    transform: scale(1) translate(0%, 70%);
  }
  70% {
    transform: scale(0.8) translate(-180%, 40%);
  }
  80% {
    transform: scale(1.1) translate(70%, 0%);
  }
  90% {
    transform: scale(1.4) translate(50%, -30%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes moveBlob-2 {
  0% {
    transform: scale(1) translate(0%, -110%);
  }
  10% {
    transform: scale(0.8) translate(80%, 30%);
  }
  20% {
    transform: scale(1.1) translate(-150%, 30%);
  }
  30% {
    transform: scale(0.8) translate(-180%, 40%);
  }
  40% {
    transform: scale(0.9) translate(-100%, -50%);
  }
  50% {
    transform: scale(1) translate(-50%, -150%);
  }
  60% {
    transform: scale(1) translate(-250%, 30%);
  }
  70% {
    transform: scale(1.2) translate(-50%, -20%);
  }
  80% {
    transform: scale(1.4) translate(50%, -30%);
  }
  90% {
    transform: scale(1.1) translate(70%, 0%);
  }
  100% {
    transform: scale(1.6) translate(-140%, 60%);
  }
}
